<div class="container mt-4">
  <h1 class="text-center mt-4 mb-3"><%= @horse.name %></h1>


  <div class="row">
    <!-- Left Column: Horse Details (no card) -->
    <div class="col-md-6 mb-4">
      <%= render 'shared/photo_grid', horse: @horse %>
      <div class="mt-3">
        <p class="mb-2"><strong>Age:</strong> <%= @horse.age %></p>
        <p class="mb-2"><strong>Breed:</strong> <%= @horse.breed %></p>
        <p class="mb-2"><strong>Location:</strong> <%= @horse.location %></p>
        <p class="mb-2"><strong>Pedigree:</strong> <%= @horse.pedigree %></p>
        <p class="mb-2"><strong>Stud Fee:</strong> <%= @horse.stud_fee %></p>
        <p class="mb-2"><strong>Race Record:</strong> <%= @horse.race_record %></p>
        <p class="mb-2"><strong>Progeny Success:</strong> <%= @horse.progeny_success %></p>
        <div class="mt-3">
          <% if user_signed_in? && @horse.user_id == current_user.id %>
            <%= link_to edit_horse_path(@horse), class: "btn btn-light me-2" do %>
              <i class="fas fa-edit"></i> <!-- Font Awesome edit icon -->
            <% end %>
            <%= link_to horse_path(@horse), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-light" do %>
              <i class="fas fa-trash-alt"></i> <!-- Font Awesome trash icon -->
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Right Column: Booking Form or Mapbox Placeholder -->
    <div class="col-md-6 mb-4 sticky-column">
      <% if user_signed_in? %>
        <% if @horse.user_id != current_user.id %>
          <%= render 'bookings/form', horse: @horse, booking: @booking %>
        <% else %>
            <div id="map-owner"
                 style="height: 100%; border: 2px dashed #ccc; display: flex; align-items: center; justify-content: center; margin-bottom: 20px;"
                 data-controller="map"
                 data-map-markers-value='<%= [{
                   lat: @horse.latitude,
                   lng: @horse.longitude,
                   info_window_html: render_info_window(@horse)
                 }].to_json %>'
                 data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
        <% end %>
      <% else %>
        <div class="alert alert-info text-center">
          <%= link_to "Sign in to request a booking", new_user_session_path %>
        </div>
      <% end %>
    </div>
  </div>

  <%# Render the bottom mapbox row only if no user is signed in or if the current user is viewing someone else's horse %>
  <% if !user_signed_in? || (@horse.user_id != current_user.id) %>
    <div class="row">
      <div class="col">
        <div id="map-visitor"
             style="height: 300px; border: 2px dashed #ccc; display: flex; align-items: center; justify-content: center; margin-bottom: 20px;"
             data-controller="map"
             data-map-markers-value='<%= [{
               lat: @horse.latitude,
               lng: @horse.longitude,
               info_window_html: render_info_window(@horse)
             }].to_json %>'
             data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  <% end %>
</div>
