<%= simple_form_for [@horse, @booking], html: { data: { controller: "datepicker", datepicker_price_at_booking_value: @horse.stud_fee } } do |f| %>
  <%= f.hidden_field :horse_id, value: @horse.id %> <!-- Ensure horse_id is sent -->

  <%= f.input :start_date, as: :string, label: "Start Date", input_html: { data: { datepicker_target: "startDate" } } %>
  <%= f.input :end_date, as: :string, label: "End Date", input_html: { data: { datepicker_target: "endDate" } } %>

  <%# Hidden input for duration (but not tied to ActiveRecord) %>
  <input type="hidden" id="duration" data-datepicker-target="duration">

  <%# Total cost field - not using `f.input` to avoid ActiveRecord errors %>
  <div class="mb-3">
    <label for="total_cost">Total Cost</label>
    <input type="text" id="total_cost" class="form-control" data-datepicker-target="totalCost" readonly>
  </div>

  <%= f.submit "Request Booking", class: "btn btn-primary" %>
<% end %>

