<h1>Booking Details</h1>

<p>Horse: <%= @booking.horse.name %></p>
<p>Booked by: <%= @booking.user.first_name %> <%= @booking.user.last_name %></p>
<p>Start Date: <%= @booking.start_date %></p>
<p>End Date: <%= @booking.end_date %></p>
<p>Price at Booking: £<%= @booking.price_at_booking %></p>
<p>Status: <%= @booking.status.capitalize %></p>

<% if @booking.pending? && current_user == @booking.horse.user %>
  <%= button_to "Accept", booking_path(@booking, status: "accepted"), method: :patch, class: "btn btn-success" %>
  <%= button_to "Decline", booking_path(@booking, status: "declined"), method: :patch, class: "btn btn-danger" %>
<% end %>
