<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "horses", class: "navbar-brand" do %>
      <%= image_tag "horse-logo.svg" %>
    <% end %>

    <!-- Center-aligned website title (always centered) -->
    <div class="position-absolute start-50 translate-middle-x">
      <%= link_to "Stable", horses_path, class: "navbar-heading text-uppercase fw-bold fs-3 text-decoration-none" %>
    </div>

    <!-- Navbar toggle button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "List your horse", new_horse_path, class: "nav-link text-primary" %>
          </li>
          <li class="nav-item active">
            <%= link_to "My horses", user_path(current_user), class: "nav-link text-primary" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Covers", bookings_path, class: "nav-link text-primary" %>
          </li>

          <!-- Profile dropdown -->
          <li class="nav-item dropdown">
            <% if current_user.profile_picture.attached? %>
              <%= cl_image_tag current_user.profile_picture.key, width: 40, height: 40, crop: :thumb, gravity: :face,
                class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "no-profile-picture.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Account details", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
